<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
   
    <div class="col-md-8">
    <h3><%= @post.user.name %></h3>
    <%= @post.title %>
    <div >
      <%= image_tag @post.image.url, style: 'height:auto;width:80%;' %>
    </div>
    <%= @post.text %>

<h5>Comments</h5>
<% @post.comments.each do |comment| %>

  <p>
    <strong> <%= comment.commenter %>:</strong>
    <%= comment.body %>
  </p>
<% end %>
 
<h4><strong>Add a comment:</strong></h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
  <%= f.hidden_field :commenter, :value =>  current_user.name %>
</p>
  <p>
    <%= f.text_area :body ,style: 'heigt: auto; width:80%;'  %>
  </p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>
</div>
</div>